* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.grid {
    display: grid;
    grid-template-areas:
        "title title"
        "pfp ch"
        "chat-list mc"
        "chat-list mc-type";
    grid-template-rows: 35px 53px 79vh 69px;
    grid-template-columns: minmax(315px, 1fr) 2fr;
    overflow-y: auto
}

.title-bar {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

.title-bar .left-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img#logo {
    width: 35px;
}

.controls {
    display: flex;
    margin-right: 15px;
}

.controls button {
    margin-left: 50px;
    border: none;
    background-color: #EAEAEA;
}

.min {
    margin-top: 3px;
}

.profile {
    grid-area: pfp;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
}


.roundpfp {
    border-radius: 50%;
    height: 80%;
    align-self: center;
    margin-left: 0.5em;
}

.chat-controls {
    display: flex;

}

.profile button,
.chatheader button {
    margin-right: 30px;
    border: none;
    background-color: #EFEFEF;
}

.search {
    background-color: #FCFCFC;
    height: 3rem;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid gray;
    padding-left: 1em;
}

.bar input {
    width: 93%;
    height: auto;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    position: relative;

}

.chat-list {
    grid-area: chat-list;
    overflow-y: scroll;
}

.chat {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.chat:nth-child(2) {
    margin-top: 1em;
}

.chat div {
    width: 50%;
}


.contact {
    font-weight: 600;
}

.chat p:nth-child(2) {
    opacity: 0.75;
}


.chat p:nth-child(3) {
    opacity: 0.3;
    text-align: end;
    margin-bottom: 1.5em;
    margin-right: 1em;

}

hr {
    width: 75%;
    float: right;
}




.chatheader {
    grid-area: ch;
    background-color: #EFEFEF;
    border-left: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.active-contact {
    width: 80%;
    align-self: center;

}

.right-header {
    text-align: end;
    align-self: center;
}


/* MAIN CHAT SECTION */

.mainchat {
    grid-area: mc;
    background-image: url(./images/default_bg2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.chat-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}

.chat-content p {
    display: inline;
}

.chat-content .msg-other {
    background-color: #FFFFFF;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: fit-content;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
}

.chat-content .msg-me {
    background-color: #EBE5DF;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: fit-content;
    max-width: 70%;
    align-self: end;
    display: flex;
    justify-content: space-between;
}

.msg-img {
    width: 100%;
}

.time {
    font-size: small;
    opacity: 40%;
    align-self: center;
    margin-left: 10px;
}


/* THIS IS FOR THE LOWEST GRID ITEM _ WHERE USER TYPES */

.chat-type {
    grid-area: mc-type;
    background-color: #F5F2EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-type input {
    width: 90%;
    height: 30px;
}

.chat-type i {
    padding: 20px;
}